.starryBackground  {
    background-image: url("http://a1star.com/images/anim-bstars.gif");
    background-color: #cccccc;
}

.FontGrey {

  color: grey;

}

body{background-color: green;}

#menu {
    padding: 0;
    text-align: center;
    position: relative;
}

#menu li {
    display: inline;

}

#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: 5px dotted red;
    border-radius: 4px 4px 0 0;
}

#menu li a:hover {
    background-color: orange;
}

.center {

  text-align: center;
}

.assignmentList{

margin-left: 475px;
 background-color: Red;
  position: absolute;;
  text-align: center;
  width: 360px;
  /*left:50%;*/
}

.assign{
background-color: black;
width: 20%;
height: 100%;
position: absolute;
top: 0;
left: 0;

}

img{

  width: 400px;
  transition: 3s;
}

img:hover{

  width: 300px;
}



  span:hover {
    font-size: 60px;
      background-color: yellow;
  }
